<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broopi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Menu box Start -->
        <!-- <div class="menu_box">
            <ul>
                <li>
                    <a href="">Dummy 1</a>
                </li>
                <li>
                    <a href="">Dummy 2</a>
                </li>
                <li>
                    <a href="">Dummy 3</a>
                </li>
                <li>
                    <a href="">Dummy 4</a>
                </li>
            </ul>
        </div> -->
        <!-- Menu box ends -->
        <!-- Header Start -->
        <div class="header_outer">
        <header>
            <div class="sec_container">
                <div class="header_inner">
                    <div class="header-left">
                        <a class="logo">
                            <img src="assets/images/broopi_logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="header_right">
                        <ul>
                            <li>
                                <a href="/signup.html"> Signup </a>
                            </li>
                            <li>
                                <a href="/login.html"> Login </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <div class="toggle_icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div> Menu
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
        <!-- Header Ends -->
        <!-- Banner Start -->
        <section class="banner_area">
            <div class="slick-carousel">
                <div>
                    <div class="slide-content">
                        <img src="assets/images/banner_1.jpeg" alt="">
                    </div>
                </div>
                <div>
                    <div class="slide-content">
                        <img src="assets/images/banner_2.jpeg" alt="">
                    </div>
                </div>
                <div>
                    <div class="slide-content">
                        <img src="assets/images/banner_3.jpeg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Ends -->
        
        <section class="our_services">
            <span>Our Services</span>
            <ul>
                <li>
                    <img src="assets/images/service_1.png" alt="">
                    <span>Packers & Movers</span>
                </li>
                <li>
                    <img src="assets/images/service_2.png" alt="">
                    <span>Interior Designing</span>
                </li>
                <li>
                    <img src="assets/images/service_3.png" alt="">
                    <span>Road Side Assistance</span>
                </li>
                <li>
                    <img src="assets/images/service_4.png" alt="">
                    <span>Home Services</span>
                </li>
            </ul>
        </section>
        <!-- Packers Start -->

        <section class="packers">
            <div class="heading">Packers & Movers</div>
            <p>Movers, Relocation, Transport and packers</p>
            <ul>
                <li>
                    <img src="assets/images/packers_1.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/packers_2.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/packers_3.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/packers_4.jpeg" alt="">
                </li>
            </ul>
        </section>

        <!-- Packers Ends -->
        <!-- Interior Start -->

        <section class="packers interior">
            <div class="heading">Interior Designing</div>
            <p>Pocket-Friendly interior designers</p>
            <ul>
                <li>
                    <img src="assets/images/interior_1.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/interior_2.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/interior_3.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/interior_4.jpeg" alt="">
                </li>
            </ul>
        </section>

        <!-- Interior Ends -->
        <!-- Road Side Start -->

        <section class="packers road_side">
            <div class="heading">Road Side Assistance</div>
            <p>Emergency Roadside Assistance Service <br /> ( 24/7 Roadside Assistance ) </p>
            <ul>
                <li>
                    <img src="assets/images/road_side_1.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/road_side_2.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/road_side_3.jpeg" alt="">
                </li>
                <li>
                    <img src="assets/images/road_side_4.jpeg" alt="">
                </li>
            </ul>
        </section>
        <!-- Road Side Ends -->
        <!-- Footer Start -->
        <footer>
            <div class="sec_container">
                <div class="footer_top">
                    <nav class="footer_nav">
                        <ul>
                            <li>
                                <a href="#">Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Information Security Policy</a>
                            </li>
                            <li>
                                <a href="#">Statement & Objective</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Reviews</a>
                            </li>
                            <li>
                                <a href="#">Near Me Services</a>
                            </li>
                            <li>
                                <a href="#">Anti Discrimination Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer_bottom">
                    <div class="foot_logo">
                        <img src="assets/images/broopi_logo.png" alt="">
                    </div>
                    <div class="email">
                        <img src="assets/images/email.png" alt="" width="40px">
                        <a href="mailto:">xxxx@gmail.comjoijriioj</a>
                    </div>
                    <div class="email">
                        <img src="assets/images/phone.png" alt=""  width="40px">
                        <a href="mailto:">+91-9999999</a>
                    </div>
                    <ul class="social_links">
                        <li>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="fb">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="insta">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pintrest">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- Footer Ends -->
    </div>
    <!-- Wrapper Ends -->

    <!-- Scripts Start -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <script>
        $().ready(function () {
            $('.slick-carousel').slick({
                arrows: false,
                centerPadding: "0px",
                dots: false,
                slidesToShow: 1,
                infinite: false,
                autoplay: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                speed: 500,
                autoplaySpeed: 1000,
                fade: true,
                // cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)',
                cssEase: 'ease-in-out',
            });
        });
    </script>
    <!-- Scripts Ends -->
</body>

</html>