.container-80 {
    width: 85%;
    margin: 0 auto;
    position: relative;
}
/*.career_banner_section {
    padding-top:60px;
}*/
.career_banner_section .career_banner img {
    max-width: 100%;
}

    .career_banner_section .career_banner img.live_mobile_view {
        display: none;
    }

.career_list_section {
    padding: 60px 0px;
}

    .career_list_section h2 {
        color: #333;
    }

    .career_list_section .career_list_box {
        box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
        padding: 15px;
        border-radius: 8px;
        margin: 30px 0px;
    }

        .career_list_section .career_list_box .career_box img {
            max-width: 100%;
        }

        .career_list_section .career_list_box .career_box_content {
            margin: 10px 0px;
            margin-bottom: 20px;
            color: #676767;
            font-size: 16px;
            line-height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 7;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding: 0px 20px;
        }

            .career_list_section .career_list_box .career_box_content h3 {
                color: #000;
            }

            .career_list_section .career_list_box .career_box_content p {
                color: #333;
                font-size: 18px;
                line-height: 25px;
            }

        .career_list_section .career_list_box .career_apply {
            text-align: right;
        }

            .career_list_section .career_list_box .career_apply .apply_now {
                background-color: #ff783d;
                border: 2px solid #ff783d;
                color: #fff;
                font-weight: 500;
                border-radius: 6px;
                font-size: 16px;
                padding: 10px 25px;
                text-decoration: none;
                margin-top: 10px;
                display: inline-block;
                transition: 0.4s;
            }

                .career_list_section .career_list_box .career_apply .apply_now:hover {
                    color: #ff783d;
                    background-color: transparent;
                }


.form-group label {
    color: #333;
    font-size: 13px;
    font-weight: 500;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group.form-group-bottom {
        margin-bottom: 5px;
    }

    .form-group input {
        color: #333;
        background: transparent;
        border: 1px solid #CCCCCC;
        box-shadow: none;
        border-radius: 4px;
        font-size: 14px;
        height: 40px;
        position: relative;
        z-index: 99;
    }
.form_check input {
    height:auto;
    margin-right:5px;
}
.form-group textarea {
    color: #333 !important;
    background: transparent;
    border: 1px solid #CCCCCC;
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    z-index: 99;
}

    .form-group select {
        color: #333 !important;
        background: transparent;
        border: 1px solid #CCCCCC !important;
        box-shadow: none;
        border-radius: 4px;
        font-size: 14px;
        height: 40px;
        position: relative;
        z-index: 99;
    }

        .form-group select:focus, .form-group input:focus, .form-group textarea:focus {
            box-shadow: none;
            outline: none;
            border: 1px solid #CCCCCC !important;
        }
.has-float-label label {
    position: absolute;
    opacity: 1;
    transition: all .2s;
    top: -.5em;
    left: 12px;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    margin: 0;
    font-weight: 500;
    background: #fff;
    z-index: 999;
    width: fit-content !important;
    display: block !important;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + label {
    opacity: .7;
    top: 13px;
    left: 12px;
    z-index: 9;
    font-size: 14px !important;
}


.career_form_section {
    background-image: url(../img/sign-up-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
}

    .career_form_section .career_form {
        box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
        padding: 15px;
        border-radius: 8px;
        background: #fff;
        float: right;
        width: 370px;
    }

        

            .career_form_section .career_form .form-group span {
                font-size: 11px;
            }

        .career_form_section .career_form h4 {
            color: #333;
            font-size: 18px;
            font-weight: 600;
        }

        .career_form_section .career_form p {
            color: #676767;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #d4d4d4;
        }


        .career_form_section .career_form .form-control.upload-file {
            padding: 7px 15px;
            padding-top: 10px;
            height: 40px;
        }

        .career_form_section .career_form textarea.form-control {
            min-height: 70px;
        }

        .career_form_section .career_form .form_apply {
            background-color: #ff783d;
            border: 2px solid #ff783d;
            color: #fff !important;
            font-weight: 500;
            border-radius: 4px;
            font-size: 15px;
            padding: 8px 25px;
            text-decoration: none;
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            transition: 0.4s;
        }

            .career_form_section .career_form .form_apply:hover {
                color: #333 !important;
                background-color: transparent;
            }

/*#divphone input {
    margin-bottom: 15px;
}*/
.form-control[disabled] {
    background-color: #fff !important;
}

#btn_verify {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    /* float: right; */
    position: relative;
    margin-right: 0;
    background: #ff783d;
    border: 0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.career_form_left h2 {
    font-size: 26px;
    color: #333;
    font-weight: 700;
    line-height: 42px;
}

.career_form_left p {
    color: #676767;
    line-height: 22px;
}

    .career_form_left p i {
        margin-right: 10px;
    }

.job_title {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    margin-bottom: 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
}

.career_list_section .career_main_box {
    position: relative;
    padding-right: 360px;
}

.career_list_section .career_apply.apply_here {
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
    padding: 15px;
    border-radius: 8px;
    width: 330px;
    position: sticky;
    float: right;
    display: inline-block;
    top: 100px;
    z-index: 9;
    right: 0;
}

    .career_list_section .career_apply.apply_here h6 {
        color: #333;
        font-size: 18px;
        line-height: 25px;
    }

    .career_list_section .career_apply.apply_here .apply_now {
        background-color: #ff783d;
        border: 2px solid #ff783d;
        color: #fff;
        font-weight: 500;
        border-radius: 6px;
        font-size: 16px;
        padding: 10px 25px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        transition: 0.4s;
        width: 100%;
    }

        .career_list_section .career_apply.apply_here .apply_now:hover {
            color: #ff783d;
            background-color: transparent;
        }

.career_form_left {
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
    padding: 15px 25px;
    border-radius: 8px;
    background: #fff;
    overflow-y: scroll;
    height: 847px;
}

.career_banner_box img {
    max-width: 100%;
}

.career_banner_section h2 {
    color: #333;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
/*.career_banner_slider .owl-carousel .owl-stage-outer {
    padding: 20px 0px;
}*/

.career_banner_slider {
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
    padding: 25px;
    border-radius: 8px;
    margin-top: 20px;
}

.view_more {
    text-align: right;
    padding-top: 15px;
}

    .view_more .btn_view_more {
        background-color: #ff783d;
        border: 2px solid #ff783d;
        color: #fff;
        font-weight: 500;
        border-radius: 6px;
        font-size: 16px;
        padding: 10px 25px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        transition: 0.4s;
    }

        .view_more .btn_view_more:hover {
            color: #ff783d;
            background-color: transparent;
        }

.mission_main_box {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.about_main_box {
    text-align: center;
    padding-top: 70px;
}

.about_hide_box {
    display: none;
}

.about_main_box p span {
    color: #00205d;
    font-weight: 600;
    cursor: pointer;
}

.mission_main_box .mission_left h3,
.about_main_box h3,
.hiring_box h3,
.insta_heading h3,
.gallery_heading h3,
.fam_heading h3,
.work_heading h3, .test_heading h3 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
    .test_heading h3 {
        text-align:center;
        margin-bottom:30px;
    }

    .mission_main_box .mission_left p,
    .about_main_box p,
    .insta_heading p,
    .gallery_heading p,
    .fam_heading p {
        color: #333;
        font-size: 17px;
        line-height: 28px;
    }

.fam_heading img {
    max-width: 100%;
}

.mission_main_box .mission_right img {
    max-width: 100%;
}

.mission_main_box .mission_left {
    padding-right: 60px;
}

.mission_main_box.vission_main_box .mission_left {
    padding-right: 0px;
    padding-left: 60px;
}

.hiring_main_box {
    background: hsl(0 0% 96% / 1);
    padding: 50px 0;
    margin-top: 80px;
}

.hiring_box {
    text-align: center;
}

    .hiring_box h3 {
        text-align: center;
        margin-bottom: 30px;
    }

.career_apply {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.apply_now {
    border-radius: 10px;
    /* border: 2px solid #999; */
    padding: 10px 25px;
    width: 290px;
    text-align: center;
    display: flex;
    color: #333;
    font-size: 18px;
    line-height: 26px;
    height: 85px;
    font-weight: 500;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in;
    background: #f0f0f0;
    box-shadow: 3px 3px 4px rgba(180, 167, 192, 0.27), -2px -2px 4px white;
}

    .apply_now::after {
        content: "";
        background: #ff6c00;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 10px;
        clip-path: circle(10% at 0% 0%);
        transition: all 0.3s ease-in;
        color: #fff !important;
    }

    .apply_now:hover::after {
        clip-path: circle(100%);
    }

    .apply_now:hover {
        color: #fff !important;
    }

.career_apply.apply_here h6 {
    border-radius: 10px;
    padding: 8px 25px;
    width: 290px;
    text-align: center;
    display: block;
    font-size: 15px;
    height: 85px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    background: #f0f0f0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in;
    box-shadow: 3px 3px 4px rgba(180, 167, 192, 0.27), -2px -2px 4px white;
}

    .career_apply.apply_here h6 a {
        color: #00205d;
        font-weight: 600;
        text-decoration: none !important;
    }

    .career_apply.apply_here h6::after {
        content: "";
        background: #ff6c00;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 10px;
        clip-path: circle(10% at 0% 0%);
        transition: all 0.3s ease-in;
        color: #fff !important;
    }

    .career_apply.apply_here h6:hover::after {
        clip-path: circle(100%);
    }

    .career_apply.apply_here h6:hover {
        color: #fff !important;
    }

        .career_apply.apply_here h6:hover a {
            color: #fff !important;
        }

.biz_family_section {
    padding-top: 80px;
}

    .biz_family_section .fam_heading {
        text-align: left;
    }

        .biz_family_section .fam_heading h3 span {
            color: #00205d;
        }

.gallery_section {
    padding-top: 80px;
}

.gallery_video {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

    .gallery_video .video_card iframe {
        border-radius: 12px;
    }

.gallery_heading {
    text-align: left;
    margin-bottom: 30px;
}

.gallery_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 15px 0px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(0 0 0 / 55%);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gallery_box:hover .card__content {
    transform: rotateX(0deg);
}

.gallery_box .card__content {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .gallery_box .card__content h6 {
        font-size: 20px;
    }

    .gallery_box .card__content .card_view {
        background: #ff783d;
        color: #fff;
        padding: 6px 12px;
        width: fit-content;
        margin: 0 auto;
        display: block;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        display:none;
    }

.gallery_section .gallery_box img {
    max-width: 100%;
}

.instagram_section {
    padding: 50px 0;
}

    .instagram_section .insta_heading {
        text-align: center;
        padding-bottom: 15px;
    }

    .instagram_section .insta_box {
        position: relative;
        margin: 15px 0;
    }

        .instagram_section .insta_box img {
            max-width: 100%;
            border-radius: 6px;
        }

            .instagram_section .insta_box img.last_insta {
                filter: blur(1px);
            }

        .instagram_section .insta_box .insta_cover {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #00000073;
            padding: 15px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

.follow_btn {
    background-color: #ff783d;
    border: 2px solid #ff783d;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px 15px;
    text-decoration: none !important;
    transition: 0.4s;
}

    .follow_btn:hover {
        color: #ff783d;
        background-color: #fff;
    }

.vision_section {
    padding-top: 50px;
}

    .vision_section .vision_card img {
        max-width: 100%;
        border-radius: 6px;
    }

.career_banner_img img {
    max-width: 100%;
}

.career_mob {
    display: none;
}

.work_section {
    background: hsl(18 100% 97% / 1);
    padding: 50px 0;
    margin-top: 50px;
}

.work_box {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px hsl(19 100% 88% / 1);
}

    .work_box:hover {
        box-shadow: inset 0px -2px 8px hsl(19 100% 88% / 1);
    }

    .work_box h5 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    .work_box p {
        font-size: 17px;
        line-height: 25px;
        color: #333;
    }

    .work_box img {
        max-width: 80px;
    }

.work_top .work_box {
    min-height: 330px;
}

.work_bottom .work_box {
    min-height: 280px;
}

.work_heading h3 {
    text-align: center;
    margin-bottom: 35px;
}

.instagram_main {
    margin-top: 70px;
    background: hsl(309 63% 97% / 1);
    padding: 50px 0px;
}

    .instagram_main.youtube {
        background: hsl(0 100% 95% / 1);
    }

    .instagram_main.facebook {
        background: hsl(240 100% 95% / 1);
    }

    .instagram_main .insta_row {
        display: flex;
        align-items: center;
    }

    .instagram_main .insta_mobile img {
        max-width: 100%;
    }

    .instagram_main .insta_mobile h4 {
        font-size: 35px;
        color: #333;
        font-weight: 700;
        margin-top: 0;
    }

    .instagram_main .insta_mobile p {
        color: #333;
        font-size: 18px;
    }

    .instagram_main .insta_mobile .follow_btn2 {
        background: #fff;
        height: 52px;
        position: relative;
        display: block;
        width: fit-content;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        text-decoration: none;
        padding: 14px 25px;
        border-radius: 30px;
        margin-top: 30px;
        transition: all 0.2s ease;
    }

        .instagram_main .insta_mobile .follow_btn2 span {
            z-index: 9;
            position: relative;
        }

            .instagram_main .insta_mobile .follow_btn2 span i {
                font-size: 18px;
                font-weight: 700;
                margin-left: 10px;
            }

        .instagram_main .insta_mobile .follow_btn2::before {
            background: hsl(18 100% 82% / 1);
            content: "";
            height: 52px;
            position: absolute;
            display: block;
            width: 52px;
            border-radius: 30px;
            left: 0;
            top: 0;
            z-index: 1;
            transition: all 0.3s ease;
        }

        .instagram_main .insta_mobile .follow_btn2:hover::before {
            width: 100%;
            border-radius: 30px;
            background: #ff783d;
        }

        .instagram_main .insta_mobile .follow_btn2:hover {
            color: #fff;
        }

.social_card h4 {
    margin-top: 80px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
}

.social_card .wrapper_icon {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

    .social_card .wrapper_icon .icon {
        position: relative;
        background: #fff;
        border-radius: 50%;
        margin-right: 20px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
        .social_card .wrapper_icon .icon a {
            color: #333;
            padding: 10px 17px;
            border-radius: 100%;
        }
        .social_card .wrapper_icon .icon a:hover i {
            color:#fff;
        }

        .social_card .wrapper_icon .icon span {
            line-height: 0;
        }

            .social_card .wrapper_icon .icon span i {
                line-height: 0;
                margin-top: 2px;
            }

    .social_card .wrapper_icon .tooltip {
        position: absolute;
        top: 0;
        font-size: 15px;
        background: #fff;
        color: #fff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        line-height: 25px;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .social_card .wrapper_icon .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: #fff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    .social_card .wrapper_icon .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

.wrapper_icon .icon:hover span,
.wrapper_icon .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper_icon .facebook_icon:hover,
.wrapper_icon .facebook_icon:hover .tooltip,
.wrapper_icon .facebook_icon:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper_icon .twitter_icon:hover,
.wrapper_icon .twitter_icon:hover .tooltip,
.wrapper_icon .twitter_icon:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper_icon .instagram_icon:hover,
.wrapper_icon .instagram_icon:hover .tooltip,
.wrapper_icon .instagram_icon:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

.wrapper_icon .youtube_icon:hover,
.wrapper_icon .youtube_icon:hover .tooltip,
.wrapper_icon .youtube_icon:hover .tooltip::before {
    background: #ff0000;
    color: #fff;
}

.wrapper_icon .linkedin_icon:hover,
.wrapper_icon .linkedin_icon:hover .tooltip,
.wrapper_icon .linkedin_icon:hover .tooltip::before {
    background: #0a66c2;
    color: #fff;
}

.social_card .wrapper_icon .tooltip {
    line-height: 25px !important;
}
.employee_test {
    padding-top:60px;
}
.career_banner_box iframe {
    border-radius: 12px;
}
.owl-carousel .owl-nav.disabled {
    display: block !important;
}
.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    color: #ff783d;
    top: 40%;
    border: 1px solid #fff;
}

    .owl-carousel .owl-nav [class*='owl-']:hover {
        border: 1px solid #ff783d;
    }

    .owl-carousel .owl-nav [class*='owl-'].disabled:hover {
        border: 1px solid #ff783d;
    }

.owl-carousel {
    position: relative;
}

    .owl-carousel .owl-next, .owl-carousel .owl-prev {
        width: 55px;
        height: 55px;
        line-height: 52px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        font-size: 38px;
        color: #fff;
        border: 1px solid #ddd;
        text-align: center;
    }

    .owl-carousel .owl-prev {
        left: -70px;
    }

    .owl-carousel .owl-next {
        right: -70px;
    }
/* @media(max-width:1200px) {
        .career_list_section .career_list_box .career_box_content {
                        height:185px;
                    }
                }*/
@media (max-width: 991px) {
    .owl-carousel .owl-nav [class*='owl-'] {
        border: 1px solid #ff783d !important;
    }
    .owl-carousel .owl-next {
        right: -20px;
    }
    .owl-carousel .owl-prev {
        left: -20px;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
    /* .career_list_section .career_list_box .career_box_content {
                        height: 230px;
                    }*/
    .career_form_section .career_form {
        width: 100%;
    }

    .career_form_left h2 {
        font-size: 25px;
        line-height: 32px;
    }

    .follow_btn {
        border-radius: 4px;
        font-size: 15px;
        padding: 10px 5px;
    }

    .mission_main_box .mission_left h3,
    .about_main_box h3,
    .hiring_box h3,
    .insta_heading h3 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 40px;
    }

    .mission_main_box .mission_left p,
    .about_main_box p,
    .insta_heading p {
        font-size: 17px;
        line-height: 25px;
    }

    .mission_main_box .mission_left h3,
    .about_main_box h3,
    .hiring_box h3,
    .insta_heading h3,
    .fam_heading h3,
    .gallery_heading h3, .test_heading h3 {
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 30px;
    }
        .test_heading h3 {
            margin-bottom:20px;
        }
        .work_heading h3 {
            font-size: 26px;
        }

    .mission_main_box .mission_left p,
    .about_main_box p,
    .insta_heading p,
    .work_box p,
    .gallery_heading p,
    .fam_heading p {
        font-size: 16px;
        line-height: 24px;
    }

    .work_box img {
        max-width: 60px;
    }

    .work_box h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .gallery_video {
        display:block;
        margin-bottom:20px;
    }
}

@media (max-width: 767px) {
    .career_list_section {
        padding: 10px 0px;
    }

        .career_list_section .career_list_box {
            padding: 10px;
        }

    .career_banner_section .career_banner img.live_desktop_view {
        display: none;
    }

    .career_banner_section .career_banner img.live_mobile_view {
        display: block;
    }

    .career_form_section {
        padding-bottom: 40px;
        padding-top: 70px;
    }

        .career_form_section .career_form {
            margin-top: 20px;
        }

    .career_list_section .career_main_box {
        padding-right: 0;
    }

    .career_list_section .career_apply.apply_here {
        width: 100%;
        position: relative;
        float: inherit;
        display: block;
        top: auto;
        right: auto;
        margin-bottom: 20px;
    }

    .mission_main_box,
    .res {
        display: flex;
        flex-wrap: wrap;
    }

    .a {
        order: 2;
    }

    .b {
        order: 1;
    }

    .career_form_left {
        overflow-y: auto;
        height: auto;
    }

    .mission_main_box .mission_left {
        padding-right: 0px;
    }

    .mission_main_box.vission_main_box .mission_left {
        padding-right: 0px;
        padding-left: 0px;
    }

    .mission_main_box .mission_right img {
        margin-bottom: 25px;
    }

    .row.gallery_res,
    .row.insta_res {
        display: flex;
    }

    .instagram_section .insta_box .insta_cover {
        padding: 5px;
    }
    .work_top .work_box, .work_bottom .work_box {
        min-height: auto;
    }
    .biz_family_section {
        padding-top: 40px;
    }
    .fam_heading img {
        margin-bottom:30px;
    }
    .instagram_main .insta_mobile h4 {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .instagram_main .insta_mobile p {
        font-size: 16px;
        line-height: 22px;
    }
    .instagram_main .insta_mobile .follow_btn2 {
        height: 45px;
        font-size: 16px;
        padding: 11px 25px;
    }
        .instagram_main .insta_mobile .follow_btn2::before {
            height:45px;
            width:45px;
        }
    .social_card h4 {
        margin-top: 35px;
        font-size: 20px;
    }
    .social_card .wrapper_icon .icon {
        margin-right: 15px;
        width: 38px;
        height: 38px;
        font-size: 16px;
    }
    .instagram_main .insta_mobile img {
        max-width: 80%;
    }
    .mission_main_box {
        padding-top: 40px;
    }
    .instagram_main {
        margin-top:40px;
    }
    .social_card .wrapper_icon .icon a {
        padding: 6px 12px;
    }
}

@media (max-width: 575px) {
    .mission_main_box,
    .about_main_box,
    .gallery_section, .employee_test {
        padding-top: 40px;
    }

    .hiring_main_box {
        margin-top: 40px;
    }

    .apply_now {
        width: 260px;
        font-size: 17px;
    }

    .career_apply.apply_here h6 {
        width: 260px;
    }

    .gallery_res,
    .insta_res {
        display: flex;
        gap: 10px;
    }

    .gallery_res1,
    .gallery_res2,
    .gallery_res3,
    .insta_res1,
    .insta_res2,
    .insta_res3 {
        padding: 0;
    }

    .instagram_section {
        padding: 40px 0;
    }

        .instagram_section .insta_heading {
            padding-bottom: 0;
        }

    .follow_btn {
        border-radius: 4px;
        font-size: 13px;
        padding: 8px 5px;
    }

    .career_desk {
        display: none;
    }

    .career_mob {
        display: block;
    }
    .instagram_main .insta_row {
        display: block;
    }
    .instagram_main .insta_mobile img {
        max-width: 60%;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 479px) {
    .career_form_left h2 {
        font-size: 20px;
        line-height: 27px;
    }

    .job_title {
        font-size: 25px;
    }

    .career_list_section .career_list_box .career_box_content {
        padding: 0px 5px;
    }

    .career_form_left {
        padding: 15px;
    }

    .career_banner_box img {
        padding: 5px;
    }

    .career_banner_slider {
        padding: 10px;
    }

    .view_more .btn_view_more {
        margin-top: 0;
    }

    .mission_main_box .mission_left h3,
    .about_main_box h3,
    .hiring_box h3,
    .insta_heading h3 {
        font-size: 26px;
        margin-bottom: 15px;
        line-height: 30px;
    }

    .mission_main_box,
    .about_main_box,
    .gallery_section {
        padding-top: 30px;
    }

    .hiring_main_box {
        margin-top: 30px;
    }

    .instagram_section,
    .hiring_main_box {
        padding: 30px 0;
    }

    .career_apply {
        margin: 15px 0;
        display: block;
    }

    .apply_now {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        height: 60px;
    }

    .career_apply.apply_here h6 {
        width: 100%;
        height: auto;
    }

    .follow_btn {
        border-radius: 4px;
        font-size: 13px;
        padding: 5px 2px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .mission_main_box .mission_left p, .about_main_box p, .insta_heading p, .work_box p, .gallery_heading p, .fam_heading p {
        font-size: 15px;
        line-height: 22px;
    }
    .mission_main_box .mission_left h3, .about_main_box h3, .hiring_box h3, .insta_heading h3, .test_heading h3 {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 28px;
    }
    .work_heading h3 {
        font-size: 24px;
    }
    .mission_main_box .mission_left h3, .about_main_box h3, .hiring_box h3, .insta_heading h3, .fam_heading h3, .gallery_heading h3 {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 28px;
    }
    .gallery_section .col-xs-6 {
        width: 100% !important;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -15px !important;
    }
    .owl-carousel .owl-next, .owl-carousel .owl-prev {
        width: 45px !important;
        height: 45px !important;
        line-height: 42px !important;
        font-size: 30px !important;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -15px !important;
    }
}
