section.course-section {
    /* background-image: url('../img/course-banner.jpg'); */
    /*background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #1CA4D4;*/
}

